.raffle-container {
  width: 90%;
  max-width: 500px;

  background: #fff;
  padding: 2rem;

  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  margin: 0 auto;
}

.raffle-container > .raffle-content {
  text-align: center;
}

.raffle-container > .raffle-content > h2 {
  text-transform: uppercase;
  color: var(--orange);

  font-size: 2.75em;
  text-align: center;

  margin-bottom: 1rem;
}

.raffle-container > .raffle-content > p {
  font-weight: 300;
  font-size: 1.5rem;

  color: var(--black);
  margin: .5rem 0;
}

.raffle-container > .raffle-content > p > span {
  color: var(--orange-dark);
  font-weight: 400;
}

.raffle-container > .raffle-content > p.raffle-text {
  font-weight: 200;
  font-size: 1.5rem;

  margin-top: 1rem;
}

.raffle-container > .raffle-content > .raffle-results {

  padding: 0 2rem 2rem;

  display: flex;
  align-content: center;
  justify-content: center;

  flex-wrap: wrap;

  font-size: 1.6rem;
  font-weight: 500;

}

.raffle-container > .raffle-content > .raffle-results .raffle-result {

  padding: .6rem;
  border-radius: 15px;

  background: var(--button-green);
  color: var(--white);

  margin: .5rem;

}

.raffle-container > hr {
  width: 80%;
  margin: 0 auto;

  margin-bottom: 2rem;
  border: 0;

  border-bottom: 1px solid var(--light-gray);
}

.raffle-container > .raffle-footer > .raffle-share-link {
  position: relative;
}

.raffle-container > .raffle-footer > .raffle-share-link > input {
  width: 100%;
  padding: 1rem;

  font-size: 1.25rem;

  border: 1px solid rgb(194, 194, 194);
  background: var(--bg-gray);

  border-radius: 5px;
  -webkit-box-shadow: none;

  -moz-box-shadow: none;
  box-shadow: none;
}

.raffle-container > .raffle-footer > .raffle-share-link > .raffle-copy-link {
  position: absolute;
  top: 50%;

  right: .25rem;
  height: 80%;

  transform: translateY(-50%);
  cursor: pointer;

  background: var(--red);
  border-radius: 5px;

  color: var(--white);
  border: 0;

  padding: 0 2rem;
  transition: background-color .5s;
}

.raffle-container > .raffle-footer > .raffle-share-link > .raffle-copy-link:hover {
  background: var(--dark-red);
}

.raffle-container > .raffle-footer > .raffle-new-raffle {
  margin: 2rem 0 1rem 0;
  border: 0;

  background: var(--button-green);
  width: 100%;

  text-transform: uppercase;
  color: var(--white);

  font-weight: 600;
  border-radius: 5px;

  padding: 1.25rem;
  transition: background-color .5s;
}

.raffle-container > .raffle-footer > .raffle-new-raffle:hover {
  background: var(--button-green-hover);
}

.raffle-container > .raffle-footer > h3 {
  font-weight: 900;
  text-transform: uppercase;
  
  margin-bottom: .5rem;
  color: var(--red);
}

.title {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}

.title-icon {
  font-size: 10rem;
  color: var(--warning-yellow);
}

.title h2 {
  color: var(--dark-blue);
  font-size: 3.5rem;

  text-transform: uppercase;
  font-weight: 200;
  
  margin-bottom: 1rem;
}

.title button {
  width: 25rem;
  cursor: pointer;

  background: var(--red);
  border-radius: 5px;

  color: var(--white);
  border: 0;

  padding: 0 2rem;
  transition: background-color .5s;

  padding: 1.5rem 0;
}

.title button:hover{
  background: var(--dark-red);
}